<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group" *ngFor="let number of numbers">
        <li
          class="list-group-item"
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{color: number % 2 !==0 ? '#bf4172' : 'transparent'}"
          *ngIf="onlyOdd && number % 2 !== 0">
          {{ number }}
        </li>
        <li
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{color: number % 2 !==0 ? '#bf4172' : 'transparent'}"
          class="list-group-item"
          *ngIf="!onlyOdd && number % 2 !== 0">
          {{ number }}
        </li>
        <li
          [ngClass]="{odd: number % 2 !== 0}"
          [ngStyle]="{color: number % 2 !==0 ? '#bf4172' : 'transparent'}"
          class="list-group-item"
          *ngIf="!onlyOdd && number % 2 === 0">
          {{ number }}
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with Basic Highlight</p>
      <p appBetterHighlight>Style me with better highlight</p>
    </div>
  </div>
</div>
