<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <p
              *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="help-block"
              style="color: tomato; font-size: 12px">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is forbidden</span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required</span>
            </p>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
              autocomplete="off">
            <p
              *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
              class="help-block"
              style="color: #ff6347; font-size: 12px">
              Please enter a valid email
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName="gender"
                [value]="gender">{{ gender }}
            </label>
          </div>
          <div formArrayName="hobbies">
            <h4>Your Hobbies: </h4>
            <button class="btn btn-default" (click)="onAddHobby()" type="button">Add new hobby</button>
            <div class="form-g roup" *ngFor="let hobbieControl of signupForm.get('hobbies')['controls']; let i = index">
              <input type="text" class="form-control mt-3" [formControlName]="i" placeholder="Hobby...">
            </div>
          </div>
          <p
            *ngIf="!signupForm.valid && signupForm.touched"
            class="help-block"
            style="color: tomato">
            Form is not vaild!
          </p>
        </div>
          <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
