<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="mt-3">
        <li>Add a button that says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (example: password = 'tuna')</li>
        <li>Toggle the display of the paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <button class="btn btn-primary btn-block" (click)="addToLog()">Display Details</button>
      <p *ngIf="displaySecret">This message is top secret</p>
      <hr>
      <h4>Log:</h4>
      <p
        *ngFor="let logItem of clicksLog; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white': i >= 4}"
      >
        {{ logItem }}
      </p>
    </div>
  </div>
</div>
