.container {
  margin-top: 30px;
}

.ng-invalid.ng-touched {
  border-color: tomato;
}

input.ng-invalid.ng-touched::placeholder {
  color: lightsalmon;
}

input.ng-pending {
  background: url('../assets/spinner-24px.svg') no-repeat right center;
  background-origin: content-box;
}
